@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Story Script', cursive;
}

body{
    font-family:Arial, sans-serif;
    background:#2600ff;
    color:#333;
}

.contact{
    max-width:600px;
    margin:60px auto;
    padding:30px;
    background:#fff;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
    text-align:center;
}

.contact h2{
    margin-bottom:20px;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.contact-form input,
.contact-form textarea{
    padding:12px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

.contact-form textarea{
    resize:none;
    height:120px;
}

.contact-form button{
    background:#00aaff;
    color:#fff;
    padding:12px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

.contact-form button:hover{
    background:#0088cc;
}

.contact-info{
    margin-top:20px;
    font-size:14px;
}

button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
button a:hover {
    color: rgb(255, 255, 255);
}
.open-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-btn:hover {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    right: 10px;
    box-shadow: 0 0 15px #00aaff;
}