body{
font-family: 'Arial', sans-serif;
background: linear-gradient(120deg, #f6f8fa, #e8eef3);
margin:0;
padding:20px;
text-align:center;
}

h1{
margin-bottom:30px;
color:#333;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
width:200px;
background:linear-gradient(145deg, #ffffff, #d9e2ec);
border-radius:15px;
padding:15px;
box-shadow: 5px 5px 15px rgba(0,0,0,0.1),
           -5px -5px 15px rgba(255,255,255,0.7);
text-decoration:none;
color:#333;
transition: 0.3s;
transform-style: preserve-3d;
}

.card img{
width:100%;
border-radius:10px;
transition: 0.3s;
}

.card h3{
margin-top:10px;
}

.card:hover{
transform: translateY(-10px) scale(1.05);
box-shadow: 10px 10px 20px rgba(0,0,0,0.2),
           -10px -10px 20px rgba(255,255,255,0.7);
}

/* modal */
.modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
backdrop-filter: blur(5px);
display:none;
justify-content:center;
align-items:center;
flex-direction:column;
padding:20px;
z-index:100;
}

.modal:target{
display:flex;
}

.modal img{
width:400px;
max-width:90%;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);
margin-bottom:15px;
}

.modal p{
color:white;
font-size:18px;
text-align:center;
max-width:600px;
}

.close{
position:absolute;
top:20px;
right:30px;
color:white;
font-size:30px;
text-decoration:none;
font-weight:bold;
}

button{
margin-top:20px;
box-shadow: #333 0px 5px 15px;

}