body{
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

button{
    background: #4CAF50;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background: #45a049;
    transform: scale(1.05);
}

button:active{
    transform: scale(0.95);
}

a button{
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    right: 10px;
}

a button:hover{
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    right: 10px;
    box-shadow: 0 0 15px #00aaff;
}